body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.form-container {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #333;
}
.header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #000;
  color: white;
}

.container {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-card img {
  height: 150px;
  object-fit: contain;
  width: 100%;
}

.category {
  font-size: 12px;
  color: gray;
}

#loader {
  text-align: center;
  font-size: 18px;
}
.filters {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.filters input,
.filters select {
  padding: 8px;
  width: 200px;
}
